.tour-form-container{
    min-height: 85vh;

    padding: 1.5rem;
    display: grid;
    place-items: center;
    border: 1px solid blue;
}

.add-tour-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    max-width: 600px;
}

.add-tour-form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.promo-dropdown{
    display: flex;
    gap: .5rem;

    color: #26474E;;
}
